body {
    height: 100%;
    background-image: url('../images/palms_back.png');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto ;
    background-attachment:fixed;

}

h1{
    
    color: rgb(255, 196, 0);
    margin-top: 100px;
    text-align: center;
    text-shadow: rgb(255, 196, 0) 0px 0px 46px;
  
}


label{
    display: block;
    width: 200px;
    padding-top: 2px;
    float: left;
    text-align: right;
    margin: 10px 5px;
    clear: left;
}
input {
    margin: 10px 5px;
    vertical-align: middle;
    color: rgb(247, 172, 144);
    text-align: center;
    /*background-color: rgb(129, 88, 122);*/
    background: linear-gradient(rgb(116, 87, 116), rgb(38, 7, 44));

    border-top: 1px solid rgb(151, 77, 133);
    border-bottom: 1px solid rgb(33, 1, 23);    
    border-right: 1px solid rgb(33, 1, 23);

    border: 0px solid;
    border-radius: 8px;

    transition-duration: 0.5s;
}

input:focus {
    box-shadow: 0px 0px 20px rgb(235, 207, 229);
}

html {
    color: #222;
    font: italic 1.1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
    line-height: 1.4;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(5, 4, 5), rgb(38, 7, 44));
    background-attachment:fixed;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

form {
  width: 600px;
  margin: auto;
  padding: 20px 0 40px 0;

  color: rgb(150, 100, 150);
  
  
  border: medium solid rgb(82, 59, 0);
  border-width: 7px;
  border-radius: 14px;
  
  background-color: rgb(36, 13, 27);
  

  transition-duration: 0.5s;
}

form:hover {
  width: 600px;
  margin: auto;
  padding: 20px 0 40px 0;

  color: rgb(248, 168, 248);
  text-shadow: rgb(248, 168, 248) 0px 0px 6px;
  
  border: medium solid rgb(255, 196, 0);
  border-width: 7px;
  border-radius: 14px;
  
  background-color: rgb(36, 13, 27);
  box-shadow: 0px 0px 45px rgb(240, 172, 0);
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}